{% extends 'base.html' %}

{% block content %}
<header>
    <h2>Doctores</h2>
    <a href="{% url 'registrar_doctor' %}">
        <button type="button" class="btn btn-success">Registrar doctor</button>
    </a>
</header>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Fecha de Nacimiento</th>
            <th>Especialidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in object_list %}
        <tr>
            <td>{{ doctor.id }}</td>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.first_last_name }}</td>
            <td>{{ doctor.second_last_name }}</td>
            <td>{{ doctor.birthday }}</td>
            <td>{{ doctor.speciality }}</td>
            <td>
                <a href="{% url 'editar_doctor' doctor.pk %}">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                <a href="{% url 'eliminar_doctor' doctor.pk %}">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}