{% extends 'base.html' %}

{% block content %}
<header>
    <h2>Citas</h2>
    <a href="{% url 'agendar_cita' %}">
        <button type="button" class="btn btn-success">Agendar cita</button>
    </a>
</header>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Doctor</th>
            <th>Tipo</th>
            <th>Hora de Inicio</th>
            <th>Hora de Término</th>
            <th>Detalles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for appointment in object_list %}
                <tr>
                    <td>{{ appointment.patient }}</td>
                    <td>{{ appointment.doctor }}</td>
                    <td>{{ appointment.appointment_type }}</td>
                    <td>{{ appointment.start_time }}</td>
                    <td>{{ appointment.end_time }}</td>
                    <td>{{ appointment.details }}</td>
                    <td>
                        <a href="{% url 'editar_cita' appointment.pk %}">
                            <button type="button" class="btn btn-primary">Editar</button>
                        </a>
                        <a href="{% url 'eliminar_cita' appointment.pk %}">
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr></tr>
            {% endfor %}
        {% else %}
            <p>No existen citas</p>
        {% endif %}
    </tbody>
</table>
{% endblock %}