{% extends 'base.html' %}

{% block content %}
<h2>Citas</h2>
<table class="table">
    <thead>
        <tr>
            <th>Clave</th>
            <th>Doctor</th>
            <th>Paciente</th>
            <th>Tipo</th>
            <th>Hora</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for appointment in object_list %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.patient }}</td>
                    <td>{{ appointment.doctor }}</td>
                    <td>{{ appointment.appointment_type }}</td>
                    <td>{{ appointment.time_slot }}</td>
                    <td>{{ appointment.details }}</td>
                </tr>
            {% empty %}
                <tr></tr>
            {% endfor %}
        {% else %}
            <p>No existen citas</p>
        {% endif %}
    </tbody>
</table>
{% endblock %}